<h1>Help</h1>
<p>
	Get help if needed
	<a href="http://www.railstutorial.org/#help">Rails help section</a>.
	To get help on this app, see the
	<a href="http://www.railstutorial.org/book"><em>Ruby on Rails </em>
		book</a>.
	</p>
